<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Trainer App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>

  <body class="bg-gray-100">

    <nav class="bg-white shadow w-full top-0 sticky z-50">
      <div class="flex justify-between items-center px-4 h-16">

        <div class="flex space-x-4">
          <a href="/" class="text-gray-700 hover:text-gray-900 underline" id="homeLink">Home</a>
          <a href="/routine" class="text-gray-700 hover:text-gray-900 underline" id="routineLink">My Routine</a>
        </div>

        <div class="absolute left-1/2 transform -translate-x-1/2">
            <a href="/" class="text-gray-700 hover:text-gray-900"> AI Trainer for Runners </a>
        </div>

        <div>
            {{#if loggedIn}}
                <a href="/logout" class="py-2 px-3 bg-red-500 text-white rounded hover:bg-red-600" id="logoutBtn">Logout</a>
            {{else}}
                <a href="/login" class="py-2 px-3 bg-blue-500 text-white rounded hover:bg-blue-600" id="loginBtn">Login</a>
                <a href="/signup" class="py-2 px-3 bg-green-500 text-white rounded hover:bg-green-600" id="signupBtn">Sign Up</a>
            {{/if}}
            <a href="/questionnaire" class="py-2 px-3 bg-yellow-500 text-white rounded hover:bg-yellow-600" id="questionBtn">Create Routine</a>
        </div>
      </div>
    </nav>

    <main class="mt-8">
      {{{body}}}
    </main>

  </body>
</html>
<script src="/public/js/navbar.js"></script>
<script src="/public/js/logout.js"></script>