<div class="bg-blue-50 min-h-screen">
    <div class="py-10">
        <div class="max-w-4xl mx-auto px-4">
            <div class="text-center">
                <h1 class="text-4xl py-4 text-blue-600 font-bold mb-6">Personal Trainer for Runners</h1>
                <p class="text-xl py-4 text-gray-700">
                    Your trusted companion for AI routines and training.
                </p>
                
                <p class="text-xl py-4 text-gray-700">
                    Please sign up or login to create a routine.
                </p>
                <p class="text-xl py-4 text-gray-700">
                    To see your existing routine, please click the <a href="/routine" class="text-gray-700 hover:text-gray-900 underline"> My Routine </a> link
                </p>
            </div>
        </div>
    </div>
</div>